.new-cases {
  border: 1px solid #dfe1e5;
  border-radius: 8px;
}

.new-cases .title {
  padding: 16px;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.new-cases-content {
  padding: 16px 0;
}

.new-cases-content .selector {
  margin: 0 16px;
  padding-bottom: 8px;
}

.new-cases-content .graph-container {
  margin: 0 16px;
}

.progress {
  text-align: center;
}
